@import "tailwindcss";

@theme {
  --color-vintage-cream: #F4E4BC;
  --color-vintage-parchment: #EAD6A4;
  --color-vintage-yellow: #FFCB05;
  --color-vintage-amber: #FF9E1B;
  --color-vintage-charcoal: #1C1917;
  --color-vintage-darkcode: #25221E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4E4BC !important;
  color: #1C1917 !important;
  color-scheme: only light;
}